h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
}

body {
    background-image: url("../images/pic1.jpg");
    background-repeat: no-repeat;

}

h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    letter-spacing: 15px;
    border-radius: 3em;
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    padding-top: 50px;
    padding-bottom: 50px;
    

}

i {
    height: 200px;
    width: 200px;
    font-size: 300px 
}

.iframe {
    text-align: center;
    

}

a :hover{
    color: black


}

a :active {
    color: red ;
} 