/* This is my Style sheet */
body{background-image: url(../images/pauline-bernfeld-1213584-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;

}

ul{
    margin: 0% ;
    padding: 0%;
    list-style: none;

}

ul li {
    float: left;
    width: 200px;
    height: 40px;


    color: rgb(248, 248, 248);
    margin-right: 3px;
}

ul li a {
    text-decoration: none;
    color: #1d1c18;;
    display: block;
    padding-left: 5px;
    
}

ul li a:hover{
    background-color:white
}

ul li a:active{
    background-color: grey
}
ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block ;
}

h1 {
    color: white;
    text-decoration-color:white;
    font-size: 3rem ;
    letter-spacing: 10px;
    text-decoration-line: underline;
    padding-left: 50px;

}

nav {
    text-align: left ;
    text-decoration-color:#1d1c18;
    text-decoration: none ;
    font-size: 2rem;
    float: right;
    display: inline-flex ;
    position: sticky;
    top: 0%;
}

.image {
    margin-top: 50px;

padding-right: 100px;
padding-top: 100px;
margin-left: 300px
}

.box {
    background-color:rgba(0,0,0, 0.4);
    color: beige ;
    height:800px ;
    margin-left: 70px;
    padding-left: 50px;
    padding-right: 450px;
    margin-right: 70px;
    border-radius: 4%;
    margin-top: 50px;

}

h2 {
    color: floralwhite ;
    font-size: 30px;

}

#whoami {
    border: 4rem ;
    border-top-width: 4px;
    border-top-style: solid;
    border-left-width: 4px;
    border-left-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    background-color: rgba(0, 0, 0, 0.77);

}


p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 50px;
    font-size: 40px;
    text-align: initial;



}


h4 {
    font-size: 3rem;
    text-decoration-line: underline;
    color: #a49c9c;
    background-color: #0009;
    border-radius: 4em;
    padding-left: 50px;
}

#edu {
    color: white;
    text-decoration: none;
    font-size: 20px
}

#education {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    letter-spacing: 10px;
    background-color: #000000b3;
    border-radius: 4em;
}
}

h5{
    text-align: initial;
    border-radius: 3em;
    font-size: 40px;
}

ul ol {

    text-decoration: none;
    color: white;
    font-size: 40px;
    text-align: initial;
}

.title {
    background-color: #000;
border-radius: 4em;
}

.Skills {
    text-align: center;
    font-size: 3rem;
    text-decoration-line: underline;
    color: #a49c9c;
    background-color: #0009;
    border-radius: 4em;

}

.container {
    background-color: #00000080;

}


.Me {

    font-size: 35px;

}

@media only screen and (max-width:1000px) {
    .Picture { 
        max-width: 750px;
        min-width: 50px;
    }
 }

.fab fa-facebook- {
    font-size: 10em;
    margin-left: 50px
}
