/* This is my Style sheet */
body{background-image: url(../images/pexels-photo-701353.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;



}

ul{
    margin: 0% ;
    padding: 0%;
    list-style: none;
    background-color: antiquewhite;
    border-radius: 0.5em;
    scroll-behavior: smooth;

}

ul li {
    float: left;
    width: 200px;
    height: 40px;


    color: rgb(248, 248, 248);
    margin-right: 3px;
}

ul li a {
    text-decoration: none;
    color: #1d1c18;;
    display: block;
    padding-left: 5px;
    
}

ul li a:hover{
    background-color:white
}

ul li a:active{
    background-color: grey
}
ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block ;
}

h1 {
    color: white;
    text-decoration-color:white;
    font-size: 3rem ;
    letter-spacing: 10px;
    text-decoration-line: underline;
    padding-left: 50px;

}

nav {
    text-align: left ;
    text-decoration-color:#1d1c18;
    text-decoration: none ;
    font-size: 2rem;
    float: right;
    display: inline-flex ;
    top: 0%;
    scroll-behavior: smooth;
    transition-delay: 0.5
}

.image {
padding-right: 100px;
padding-top: 100px;
margin-left: 300px;
width: 600px;
height: 640px;
padding-left: 300px;
}

.box {
    background-color:rgba(0,0,0, 0.4);
    color: beige ;
    height:800px ;
    margin-left: 70px;
    padding-left: 50px;
    padding-right: 450px;
    margin-right: 70px;
    border-radius: 4%;
    margin-top: 50px;

}

h2 {
    color: floralwhite ;
    font-size: 30px;

}

#whoami {
    border: 4rem ;
    border-top-width: 4px;
    border-top-style: solid;
    border-left-width: 4px;
    border-left-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    background-color: #4cb963;
    text-align: center;

}


p {
    color: white;
    background-color: cadetblue;
    border-radius: 20px;
    padding: 50px;
    font-size: 40px;
    text-align: initial;



}


h4 {
    font-size: 3rem;
    text-decoration-line: underline;
    background-color: #0009;
    border-radius: 4em;
    padding-left: 50px;
    background-color: #b4c5e4;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: black;
}

.edu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
}

.education {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    letter-spacing: 10px;
    background-color: #000000b3;
    border-radius: 4em;
}
}

h5{
    text-align: initial;
    border-radius: 3em;
    font-size: 40px;
}

ul ol {

    text-decoration: none;
    color: black;
    font-size: 40px;
    text-align: initial;
}

.title {
    background-color: #000;
    border-radius: 4em;
}

.skills {
    text-align: center;
    font-size: 3rem;
    text-decoration-line: underline;
    color: #a49c9c;
    background-color: #0009;
    border-radius: 4em;
    

}





.me {

    font-size: 35px;

}

.fab fa-facebook- {
    font-size: 10em;
    margin-left: 50px
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
}



h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    letter-spacing: 15px;
    border-radius: 3em;
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    padding-top: 50px;
    padding-bottom: 50px;
    

}

.contact {
    background-color: #1d1c18

}

.body {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:  
     "header header"
     "main main"
}

.header {
    grid-area: header ;
}

.main {
    grid-area: main;
}


/* responsiveness */

/* @media screen and (min-width:360px) {
    .body {max-width: 460px;}
}

@media only screen and (max-width:1000px) {
    .Picture { 
        max-width: 750px;
        min-width: 50px;
    }
 } */

